---
---
<!-- status: title-mode | logo-mode -->
<header class="store-header" data-status="logo-mode" id="topbar">
	<div>
		<button class="menu-button" id="menubutton" title="Menu"><i></i></button>
		<h1>Nome da loja</h1>
		<figure class="logo">
			<a href="#" title="Thrift">
				<img src="/template-ecommerce-vega/img/logo.png" alt="thrift">
			</a>
		</figure>
	</div>

	<div>
		<button class="search-button" title="Pesquisar"><i></i></button>
		<!-- <button class="lang-button">3</button> -->
		<a class="cart-button" href="#" title="Cesta de compras"><span>0</span><i></i></a>
	</div>

</header>
